$default-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);

img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 5%;
  width: auto;
  height: auto;
}

.qty-input {
  width: 20px;
  text-align: center;
  border: none;
}

.product-card {
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  width: 200px;
  align-items: center;
  background-color: #FFF;
  box-shadow: $default-shadow;
  margin: 10px;
}

.card-price {
  font-weight: bold;
}

.qty-input-button {
    button {
      border: none;
      border-radius: 4px;
      background-color: #D80000;
      color: white;
      width: 30px;
      height: 30px;
      box-shadow: $default-shadow;
      &:hover {
        background-color: #d42626;
      }
      &:disabled {
        background-color: #540101;
    }
  }
}